build-pydocs.sh
/pydoc/
/wrappers/requirements.txt
/wrappers/info.plist
/wrappers/benchmark.py
/wrappers/icon.png
benchmark.sh
benchmark.php
bash-php-benchmark.sh
benchmark_icons.py
icons.json
bundler/test_icons.sh
