*.log

# Dean's stuff
/benchmark_icons.py
/icons.json
/pydoc/
/build-pydocs.sh

# Shawn's stuff
exclude
exclude/*
system-icons/*
system-icons
bashtests.sh
phptests.php
include.php
benchmark.sh
benchmark.php
bash-php-benchmark.sh
bundler/test_icons.sh
test_icons.sh
install_confirm.scpt
